{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        Главная
        {% endblock %}
        | notesapp
    </title>
</head>
<body>


{% bootstrap_messages %}
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-primary">Primary</button>
{% block content %}
{% endblock %}


</body>
</html>