{% extends 'mondiv/layout/basic.html' %}
{% load bootstrap5 %}
{% block title %}
    Профиль пользователя
{% endblock %}

{% block content %}
    <div class="row text-center mt-4">
        <h2>Профиль пользователя {{ user.username }}</h2>
        {% if user.first_name %}
            <p>Здравствуйте, {{ user.first_name }}!</p>
        {% else %}
            <h4>Здравствуйте!</h4>
        {% endif %}
    </div>




    <div class="container mt-5">
        <div class="row my-3">
            <div class="col-6">

                <canvas id="myChart1" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get({% url 'mondiv:last_year' %}, function (data) {
                        var ctx = $("#myChart1").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>


            </div>
            <div class="col-6">

                <canvas id="myChart2" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get({% url 'mondiv:last_year' %}+'?currency=RUB', function (data) {
                        var ctx = $("#myChart2").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>


            </div>
        </div>
        <div class="row my-3">
            <div class="col-6">

                <canvas id="myChart3" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get({% url 'mondiv:last_n_years' %}, function (data) {
                        var ctx = $("#myChart3").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>


            </div>
            <div class="col-6">

                <canvas id="myChart4" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get(({% url 'mondiv:last_n_years' %} +'?currency=RUB'), function (data) {
                        var ctx = $("#myChart4").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>


            </div>
        </div>
        <div class="row my-3">
            <div class="col-6">

                <canvas id="myChart5" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get({% url 'mondiv:total_for_each_ticker' %}, function (data) {
                        var ctx = $("#myChart5").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>


            </div>
            <div class="col-6">

                <canvas id="myChart6" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get(({% url 'mondiv:total_for_each_ticker' %} +'?currency=RUB'), function (data) {
                        var ctx = $("#myChart6").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>


            </div>
        </div>
        <div class="row my-3">
            <div class="col-6">

                <canvas id="myChart7" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get({% url 'mondiv:total_for_each_account' %}, function (data) {
                        var ctx = $("#myChart7").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>


            </div>
            <div class="col-6">

                <canvas id="myChart8" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get(({% url 'mondiv:total_for_each_account' %} +'?currency=RUB'), function (data) {
                        var ctx = $("#myChart8").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>


            </div>
        </div>
        <div class="row my-5">
            <div class="col-4 offset-1">

                <div class="card text-bg-dark">
                    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614378690_22-p-svetlii-fon-dlya-oboev-na-telefon-23.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay text-center">
                        <h3 class="card-title mt-4 text-secondary">USD</h3>
                        <h6>минимальная выплата у {{ minimum_payout_ticker_usd.company__name }} : {{ minimum_payout_ticker_usd.payment | floatformat:2  }}</h6>
                        <h6>максимальная выплата у {{ maximum_payout_ticker_usd.company__name }} : {{ maximum_payout_ticker_usd.payment | floatformat:2  }}</h6>
                    </div>
                </div>

            </div>
            <div class="col-4 offset-2">

                <div class="card text-bg-dark">
                    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614378690_22-p-svetlii-fon-dlya-oboev-na-telefon-23.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay text-center">
                        <h3 class="card-title mt-4 text-secondary">RUB</h3>
                        <h6>минимальная выплата у {{ minimum_payout_ticker_rub.company__name }} : {{ minimum_payout_ticker_rub.payment | floatformat:2  }}</h6>
                        <h6>максимальная выплата у {{ maximum_payout_ticker_rub.company__name }} : {{ maximum_payout_ticker_rub.payment | floatformat:2  }}</h6>
                    </div>
                </div>

            </div>
        </div>
        <div class="row my-5">
            <div class="col-4 offset-1">

                <div class="card text-bg-dark">
                    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614378690_22-p-svetlii-fon-dlya-oboev-na-telefon-23.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay text-center">
                        <h1 class="card-title mt-4 text-secondary">Всего в USD</h1>
                        <div class="display-1 fw-bold text-secondary">{{ USD | floatformat:2 }}</div>
                    </div>
                </div>

            </div>
            <div class="col-4 offset-2">

                <div class="card text-bg-dark">
                    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614378690_22-p-svetlii-fon-dlya-oboev-na-telefon-23.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay text-center">
                        <h1 class="card-title mt-4 text-secondary">Всего в RUB</h1>
                        <div class="display-1 fw-bold text-secondary">{{ RUB | floatformat:2 }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}




{#                <canvas id="myChart" width="500" height="400"></canvas>#}
{##}
{#                <script>#}
{#                    const ctx = document.getElementById('myChart');#}
{##}
{#                    new Chart(ctx, {#}
{#                        type: 'bar',#}
{#                        data: {#}
{#                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'dsds'],#}
{#                            datasets: [{#}
{#                                label: '# of Votes',#}
{#                                data: [12, 19, 3, 5, 2, 3, 0],#}
{#data: [{x: 'Sales', y: 20},{x: 'Revenue', y: 10}],#}
{#                                borderWidth: 1,#}
{#                                borderColor: 'rgb(255, 99, 132)',#}
{#                                backgroundColor: ['' +#}
{#                                'rgba(86,114,255,0.8)',#}
{#                                    'rgb(242,242,242)'#}
{#                                ],#}
{#                                borderRadius:6,#}
{#                                categoryPercentage: 0.8,#}
{#                                hoverBackgroundColor: 'rgb(242,242,242)',#}
{#                            }]#}
{#                        },#}
{#                        options: {#}
{#                            scales: {#}
{#                                y: {#}
{#                                    beginAtZero: true#}
{#                                }#}
{#                            }#}
{#                        }#}
{#                    });#}
{#                </script>#}