{% extends 'mondiv/layout/basic.html' %}
{% load bootstrap5 %}
{% block title %}
    {{ company.name }}
{% endblock %}

{% block content %}
    <div class="display-4 my-6 text-center">Информация о компании: {{ company.name }}</div>
    <div class="container mt-5">
        <div class="row my-3">
            <div class="col-6">
                <canvas id="myChart1" width="500" height="400"></canvas>

                <script type="text/javascript">
                    $.get({% url 'mondiv:dividend_history' %} +'?ticker={{ company.ticker }}', function (data) {
                        var ctx = $("#myChart1").get(0).getContext("2d");
                        new Chart(ctx, data);
                    });
                </script>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="row mt-3">
                        <div class="col-4 offset-4">
                            {% if company.icon_image %}
                                <img src="{{ company.icon_image.url }}" class="card-img-top" alt="...">
                            {% else %}
                                <img src="https://i.postimg.cc/bwSyqTTF/empty.jpg" class="card-img-top" alt="...">
                            {% endif %}

                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center">{{ company.name }}</h3>
                        <h4 class="card-subtitle mb-2 text-muted text-center">Тикер: {{ company.ticker }}</h4>
                        <p class="card-text">{{ company.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-8 offset-2">
                <table class="table align-middle">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Дата выплаты</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Валюта</th>
                        <th scope="col">Счет</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dividend in dividends %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ dividend.date_of_receipt }}</td>
                            <td>{{ dividend.payoff }}</td>
                            <td>{{ dividend.currency }}</td>
                            <td>{{ dividend.account }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th></th>
                        <td><b>Всего:</b></td>
                        <td><b>{{ total | floatformat:2  }}</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}