{% extends 'mondiv/layout/basic.html' %}
{% load bootstrap5 %}
{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-10 offset-1">

                                {% for r in res %}
                                    <p>{{ r.payment }}</p>
                                {% endfor %}
                {##}
                                    {{ res }}
                {#                <p>{{ t }}</p>#}
                {#                <p>{{ d }}</p>#}

            {{ RUB }}
            {{ USD }}




            </div>
        </div>
    </div>
{% endblock %}